<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test30">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--대략적 위치, 상세 위치 권한-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />//인터넷 사용 허용
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test30">
        <activity android:name="SubActivity"/>
        <activity android:name=".domain.main.activity.AnounceActivity"/>
        <activity android:name=".domain.main.activity.MainActivity"/>
        <activity android:name=".domain.board.gune.activity.GuneInsertActivity"/>
        <activity android:name=".domain.main.activity.SettingActivity"/>
        <activity android:name=".domain.user.activity.CreateIdActivity"/>
        <activity android:name=".domain.board.gongji.activity.GongjiSubActivity"/>
        <activity android:name=".domain.user.activity.FindIdActivity"/>
        <activity android:name=".domain.user.activity.FindPwActivity"/>
        <activity android:name=".domain.user.activity.FindPw1Activity"/>
        <activity android:name=".domain.user.activity.FindPw2Activity"/>
        <activity android:name=".domain.main.activity.MainActivity2"/>
        <activity android:name=".domain.main.activity.MainActivity3"/>
        <activity android:name=".domain.board.gongji.activity.GongjiInsertActivity"/>
        <activity android:name=".domain.board.gongji.activity.GongjiUpdateActivity"/>
        <activity android:name=".domain.board.gongji.activity.GongjiOpinionActivity"/>
        <activity android:name="SubActivity2"/>
        <activity android:name=".domain.board.gune.activity.GuneSubActivity"/>
        <activity android:name=".domain.main.activity.AnnounceSpeakActivity"/>
        <activity android:name="GuneOpinionActivity"/>
        <activity android:name=".domain.util.activity.ChatBotActivity"/>
        <activity android:name=".domain.main.activity.UserMenuActivity"/>
        <activity android:name=".domain.util.Splash"/>


        <activity
            android:name=".domain.main.activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".domain.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>